
{% extends 'base.html' %}

{% block title %}
Create a Recipe - Scrumptious recipes
{% endblock title %}

{% block content %}
<body>
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main Page</a>
        </nav>
    </header>

    <main>
    <div class="form-container">
        <h1>Create a Recipe!</h1>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button>Create</button>
        </form>
        </div>
    </main>
</body>
{% endblock content %}
